/********************************
* Active Hover States 1.1.1
	* http://github.com/ttbarnes/Active-Hover-States
	*
	* Author: Tony Barnes
	* http://tonybarnes.me
	* No license or copyright - do what you like
	*
	* Updated: 09/05/2013
  ********************************
  plugin demo styles
**********************************/
/*reset*/
h6,
h5,
h4,
h3,
h2,
p,
ol,
h1,
td,
th,
blockquote,
textarea,
input,
fieldset,
form,
pre,
li,
ul,
dd,
dt,
dl,
div,
body,
legend {
  margin: 0;
  padding: 0;
}
legend,
table {
  border-collapse: collapse;
  border-spacing: 0;
}
var,
th,
dfn,
code,
cite,
caption,
address {
  font-style: normal;
}
var,
th,
dfn,
code,
cite,
caption,
address,
h6,
h5,
h4,
h3,
h2,
h1 {
  font-weight: 400;
}
ul,
ol {
  list-style: none;
}
th,
caption {
  text-align: left;
}
h6,
h5,
h4,
h3,
h2,
h1 {
  font-size: 100%;
}
q:after,
q:before {
  content: '';
}
legend,
img,
fieldset,
acronym,
abbr,
input[type=image] {
  border: 0;
}
html {
  background:#222;
}
body {
  font-family: courier new, arial;
  color:#888;
	background:#222;
}
::-moz-selection {
  background: #141414;
  color: #CCC;
  text-shadow: none;
}
::selection {
  background: #141414;
  color: #CCC;
  text-shadow: none;
}
h3 {
	text-align:center;
	padding:0 1em 2em 1em;
}
p {
	padding-bottom:1em;
}
/*main content*/
#activeHoverStatesWrapper {
	width:100%;
	max-width:100%;
}
#activeHoverStatesWrapper .content {
  position: relative;
  margin: 0 auto;
	padding-top:40px;
	width:100%;
  max-width: 1000px;
}
#activeHoverStatesWrapper .innerWrap {
	padding:1em;
	background:#000;
	
}
/*header*/
.header {
  background: #353535;
  text-align: center;
  color: #888;
}
.header h1 {
  padding: 25px 10px;
  font-size: 2.1em;
}
.header h1 span {
  color: #414141;
  font-size: 0.8em;
}
.header p {
  color: #565656;
  letter-spacing: -2px;
  font-size: 0.950em;
  padding: 0 10px 25px 10px;
}
.header p span {
  font-size: 0.9em;
  color: #555;
}
/*footer*/
.footer {
  margin-top: 40px;
  background: #222;
  text-align: center;
  font-family: courier new, arial;
  color: #888;
}
.footer h2 {
	padding:15px 0;
  font-size: 1.4em;
}

/*responsive*/
@media(max-width:1000px){
	.header {
		margin-bottom:30px;
	}
	.header h1 {
		font-size:2em;
		padding:15px 10px;
	}
	.footer {
		margin-top:20px;
	}
	.footer h2 {
		font-size:1.3em;
	}
}

@media(max-width:480px) {
	h3 {
		padding:1em;
	}
	.header {
		margin-bottom:0;
	}
	.header h1 {
		font-size:1.5em;
	}
	.footer {
		margin-top:0;
	}
	
	.footer h2 {
		font-size:1em;
	}
	
}