/********************************
* Active Hover States 1.1.3
	* Control and highlight parent or next/prev items
	* http://github.com/ttbarnes/Active-Hover-States
	*
	* Author: Tony Barnes
	* http://tonybarnes.me
	* No license or copyright - do what you like
	*
	* Last updated: 28/09/2013
  ********************************
  plugin styles
**********************************/

/*main content*/
.activeHoverStatesWrapper {
	background:#161616;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.activeHovering {
	background:#222;
}

/*active hover states*/
#activeHoverStates,
.activeHoverStates {
	margin-bottom:40px;
}

#activeHoverStates li a,
#activeHoverStates div a,
.activeHoverStates li a,
.activeHoverStates div a {
	display:inline-block;
	width:100%;
	text-align:center;
	text-decoration:none;
	background:#000;
	color:#FFF;
	padding:5px 0;
	border-bottom:dashed 2px #333;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

/*hover state*/
#activeHoverStates li.hovered a,
#activeHoverStates div.hovered a,
.activeHoverStates li.hovered a,
.activeHoverStates div.hovered a {
	background:#131313;
	color:#FFF;
}

/*active state*/
#activeHoverStates li.active a,
#activeHoverStates div.active a,
.activeHoverStates li.active a,
.activeHoverStates div.active a {
	background:#1E1E1E;
	color:#444;
}

/*active state - nextAll items*/
#activeHoverStates li.activePrev a,
#activeHoverStates div.activePrev a,
.activeHoverStates li.activePrev a,
.activeHoverStates div.activePrev a {
	opacity:0.6;
	border-color:#1E1E1E;
}
